@import './utils/variable';

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.stopwatch {
  position: relative;
  width: $stopwatch-width;
  height: $stopwatch-height;
  border: $border;
  border-radius: $stopwatch-border-radius;

  &__minutes-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: $minutes-hand-width;
    height: $minutes-hand-length;
    background: $minutes-hand-color;
    border-radius: 2px;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(-90deg);
    animation: rotate360 3600s steps(60) linear infinite;
  }

  &__seconds-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: $seconds-hand-width;
    height: $seconds-hand-length;
    background: $seconds-hand-color;
    border-radius: 2px;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(-90deg);
    animation: rotate360 60s linear infinite;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $center-watch-size;
    height: $center-watch-size;
    background: $center-watch-color;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &--speed-up {
    .stopwatch__minutes-hand {
      animation: rotate360 600s steps(60) linear infinite;
    }

    .stopwatch__seconds-hand {
      animation: rotate360 10s linear infinite;
    }
  }
}
