$stopwatch-height: 80vmin;
$stopwatch-width: 80vmin;
$stopwatch-border-radius: 50%;
$border: 1vmin dotted #000;
$minutes-hand-length: 3vmin;
$minutes-hand-width: 20vmin;
$minutes-hand-color: #0700ff;
$seconds-hand-length: 38vmin;
$seconds-hand-width: 1.5vmin;
$seconds-hand-color: #2c8000;
$center-watch-size: 5vmin;
$center-watch-color: #f6a603;
